<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tester.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tester.description %>
</p>

<%= link_to 'Edit', edit_tester_path(@tester) %> |
<%= link_to 'Back', testers_path %>
